# Python standard
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
is2_env/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local MLflow runs
mlruns/
mlflow.db

# Data outputs
*.csv
*.tsv
*.parquet
*.h5
*.db

# Model outputs
*.pkl
*.joblib
*.pt
*.h5

# CatBoost training logs
catboost_info/

# Temporary files
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# VSCode/IDE settings
.vscode/
.idea/
