# Ignore the virtual environment folder
is2_env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints (if you use notebooks)
.ipynb_checkpoints/

# Ignore MLflow temporary stuff (optional if you use MLflow)
mlruns/

# Ignore saved models (local .pkl files)
saved_models/

# Ignore system files (Mac and Windows)
.DS_Store
Thumbs.db
